*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    height: 33vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .rectangulo-piola{
        height: 20%;
        aspect-ratio: 7/1;
        display: flex;

        .rectangulo-left{
            background-color: #FF9978;
            height: 100%;
            aspect-ratio: 6/1;
            display: flex;
            justify-content: center;
            align-items: center;

            .linea{
                background-color: #FFFFFF;
                width: 90%;
                height: 25%;
            }
        }

        .cuadrado-inner-right{
            background-color: #656A73;
            height: 100%;
            aspect-ratio: 1/1;
        }
    }

    .dashes{
        height: 5%;
        width: 80%;
        display: flex;
        justify-content: space-between;

        .dash{
            background-color: #CCCBCA;
            height: 100%;
            width: 20%;
        }
    }
}

main{
    height: 33vh;
    background-color: #C4EDF1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .cuadrado-left{
        background-color: #91D3D9;
        height: 70%;
        aspect-ratio: 1/1;
    }

    .seccion-derecha{
        height: 70%;
        aspect-ratio: 2/1;
        display: flex;
        flex-direction: column;

        .rect-top{
            background-color: #656A73;
            height: 20%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .text{
            .placeholder-long{
                background-color: #FFFFFF;
                height: 20%;
                width: 100%;
            }
        }
    }
}

footer{
    height: 33vh;
}
