*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    height: 33vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .rectangulo-piola{
        background-color: #FF9978;
        height: 20%;
        aspect-ratio: 8/1;

    }
}

main{
    height: 33vh;
    background-color: #C4EDF1;
}

footer{
    height: 33vh;
}
